<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-avatar (click)="selectImageSource()" class="profile-pic">
    <ion-img [src]="myProfileImage">
  </ion-img>
</ion-avatar>

<ion-card>
  <ion-card-header>
    <ion-card-title>Juan Gaines</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Huawei DTSE Colombia Eco-Development team
  </ion-card-content>
</ion-card>
</ion-content>
